.banner {
  padding:0;
  display:flex;
  justify-content:center;
  overflow: hidden;
}

.banner-img {
  padding:0;
  max-width:1100px;
  max-height:25vh;
}

.adjustable {
  max-width:100%;
  /* img-size 2591*761 */
}

body {
  background-color: rgb(4,32,41);
  color: gray;
}

.navbar-brand {
  color:black!important;
  font-size:32px;
  padding-right:10px;
}

